@define-color higlight rgba(117, 241, 250, 1);
@define-color dark-9 rgba(24, 24, 27, 1);
@define-color dark-8 rgba(39, 39, 42, 1);
@define-color dark-7 rgba(63, 63, 70, 1);
@define-color dark-6 rgba(82, 82, 91, 1);
@define-color dark-5 rgba(113, 113, 122, 1);
@define-color text #ffffff;
@define-color red #f38ba8;

* {
  font-family: "Fira Code Nerd Font", monospace;
  font-size: 14px;
  color: @text;
}

window#waybar {
  background: @dark-9;
  color: @text;
}

#workspaces button {
  padding: 3px;
  border-radius: 2px;
  margin: 7px 0px 7px 7px;
  background: transparent;
  color: white;
}

#workspaces button.active {
  background: @higlight;
  color: black;
  font-weight: 700;
}

#workspaces button.urgent {
  background: @red;
}

#battery,
#bluetooth,
#network,
#cpu,
#memory,
#mpd,
#custom-power,
#pulseaudio
{
  border-radius: 8px;
  padding: 5px 8px;
  background: @dark-8;
  margin: 5px 10px 5px 0px;
}

#workspaces button:hover {
  background: rgba(180, 190, 254, 0.30);
}

#custom-power {
  border-radius: 8px;
  padding: 5px 8px;
  background: @dark-8;
  margin: 5px 10px 5px 0px;
  color: @red;
}

#custom-power:hover {
  background: rgba(243,139,168,0.2);
}

